<div class="container">

  <div class="header">
    <h2>Employee List</h2>
    <button class="add-btn" (click)="openPopup()">+ Add Employee</button>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let emp of employees; let i = index ">
          <td>{{ emp.name }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.phone }}</td>
          <td class="action-buttons">
            <button class="edit-btn" (click)="openEdit(emp,i)">Edit</button>
            <button class="delete-btn" (click)="deleteEmployee(i)">Delete</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- Popup -->
<div class="popup" *ngIf="showPopup">
  <div class="popup-content">

    <button class="close-btn" (click)="closePopup()">✕</button>
      <app-employee-form
      [employeeData]="selectedEmployee"
      [editMode]="isEditMode" 
      (save)="saveEmployee($event)">
    </app-employee-form>

  </div>
</div>
