h2 {
  margin-bottom: 20px;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}


/* input:focus {
  border-color: #624df1;
} */
input:hover {
     border-color: rgb(143, 143, 245);
}


button {
  width: 35%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  align-self: center;
}

.create-btn {
  background-color: #22c55e;
}

.create-btn:hover{
  background-color: #05792f;
}


.update-btn {
  background-color: #f9b53f;
}

.update-btn:hover {
  background-color: #ef9a08;
}
